<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, _, ~{::section}, ~{}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gotchi Arena - Lobby</title>
</head>
<body>

<section class="container">

    <div class="list">

        <!--Loader-->
        <div id="spinner">
            <div class="spinner"></div>
        </div>

        <!--New room button-->
        <form class="mb-4 clearfix">
            <button type="button" id="addRoom" class="btn btn-submit hidden">
                + New room
            </button>
        </form>

        <!--Table-->
        <table id="rooms">
            <thead>
            <tr>
                <th>Room name</th>
                <th>Players</th>
                <th>Owner</th>
                <th></th>
                <th>Opponent</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="rooms-list"></tbody>
        </table>

    </div>

    <!-- Modal -->
    <div class="modal" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="addRoomModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRoomModal">Add new room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="field-wrap">
                            <div class="input-field">
                                <input type="text" class="" placeholder="room name"
                                       id="room-name" name="room-name">
                                <label for="room-name">room name</label>
                                <div class="input-bar"></div>
                            </div>
                            <div class="helper"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat" data-dismiss="modal">Cancel</button>
                    <button type="button" id="requestRoom" class="btn btn-submit">Create room</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="addRoomModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRoomModal">Add new room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="field-wrap">
                            <div class="input-field">
                                <input type="text" class="" placeholder="room name"
                                       id="room-name" name="room-name">
                                <label for="room-name">room name</label>
                                <div class="input-bar"></div>
                            </div>
                            <div class="helper"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat" data-dismiss="modal">Cancel</button>
                    <button type="button" id="requestRoom" class="btn btn-submit">Create room</button>
                </div>
            </div>
        </div>
    </div>

</section>


<!--<script src="/webjars/jquery/jquery.min.js" defer></script>-->
<script src="/webjars/sockjs-client/sockjs.min.js" defer></script>
<script src="/webjars/stomp-websocket/stomp.min.js" defer></script>
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>


<script src="/resources/js/utils.js" defer></script>
<script src="/resources/js/lobby.js" defer></script>

</body>
</html>