<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, _, ~{::section}, ~{}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gotchi Arena - Lobby</title>
</head>
<body>

<section class="container">

    <div class="list">

        <!--Loader-->
        <div id="spinner">
            <div class="spinner"></div>
        </div>

        <!--Create new Gotchi button-->
        <form class="mb-4 clearfix">
            <a href="/create_gotchi" id="addGotchi" class="btn-submit" role="button">
                + New Gotchi
            </a>
        </form>

        <!--New room button-->
        <form class="mb-4 clearfix">
            <button type="button" id="addRoom" class="btn btn-submit hidden">
                + New room
            </button>
        </form>

        <!--Table-->
        <table id="rooms">
            <thead>
            <tr>
                <th>Room name</th>
                <th>Players</th>
                <th>Owner</th>
                <th></th>
                <th>Opponent</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="rooms-list"></tbody>
        </table>

    </div>

    <!-- Modal -->
    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                </div>
                <div class="modal-body" id="modalContent">
                    <p class="text-info">Press "Ready" when you are ready to fight.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="leave" class="btn btn-flat" data-dismiss="modal">Leave room</button>
                    <form id="fightPage" th:action="@{/room/}" method="get">
                        <button type="submit" id="begin" class="btn btn-submit">Ready!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>


<!--<script src="/webjars/jquery/jquery.min.js" defer></script>-->
<script src="/webjars/sockjs-client/sockjs.min.js" defer></script>
<script src="/webjars/stomp-websocket/stomp.min.js" defer></script>
<script src="/webjars/jquery/jquery.min.js" defer></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>


<script src="/resources/js/utils.js" defer></script>
<script src="/resources/js/lobby.js" defer></script>

</body>
</html>