<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::header}, ~{::section}, ~{}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gotchi Arena - Login</title>
</head>
<body>
<header class="text-center py-2">
    <a th:href="@{/}">
        <img src="/img/title_ver.svg" th:src="@{/public/img/title_ver.svg}"
             width="300" height="" alt="Gotchi Arena">
    </a>
</header>
<section class="container">

    <div class="row">
        <div class="col"></div>
        <div class="col-md-5">

            <div class="toggle login">
                <form class="form-group clearfix" met   hod="post" th:action="@{/login}">

                    <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>

                    <h3 class="my-4">Log in to fight other players</h3>

                    <div class="field-wrap">
                        <div class="input-field">
                            <input type="text" th:class="${param.error}? 'inp-invalid'" placeholder="username"
                                   id="username" name="username" autocomplete="off" required autofocus>
                            <label for="username">username</label>
                            <div class="input-bar"></div>
                        </div>
                        <div class="helper">
                            <div th:if="${param.error}" class="error">Wrong username or password</div>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <div class="input-field">
                            <input type="password" class="" placeholder="password"
                                   id="password" name="password">
                            <label for="password">password</label>
                            <div class="input-bar"></div>
                        </div>
                        <div class="helper"></div>
                    </div>

                    <button class="btn-submit" type="submit">Log in</button>
                </form>

                <hr>
                <p class="text-info">
                    <small>Not registered? <a href="#" class="message">Create an account</a></small>
                </p>
            </div>


            <div class="toggle register">
                <form class="form-group clearfix" method="post" th:action="@{/register}">
                    <h3 class="my-4">Register to fight other players</h3>

                    <div class="field-wrap">
                        <div class="input-field">
                            <input type="text" th:class="${param.error}? 'inp-invalid'" placeholder="username"
                                   id="usernamer" name="username" autocomplete="off" required autofocus>
                            <label for="username">username</label>
                            <div class="input-bar"></div>
                        </div>
                        <div class="helper">
                            <div th:if="${param.error}" class="error">Wrong username or password</div>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <div class="input-field">
                            <input type="password" class="" placeholder="password"
                                   id="passwordr" name="password">
                            <label for="password">password</label>
                            <div class="input-bar"></div>
                        </div>
                        <div class="helper"></div>
                    </div>

                    <div class="field-wrap">
                        <div class="input-field">
                            <input type="password" class="" placeholder="repeat password"
                                   id="repassword" name="repassword">
                            <label for="repassword">repeat password</label>
                            <div class="input-bar"></div>
                        </div>
                        <div class="helper"></div>
                    </div>

                    <button class="btn-submit" type="submit">Register</button>
                </form>

                <hr>
                <p class="text-info">
                    <small>Already registered? <a href="#" class="message">Sign in</a></small>
                </p>
            </div>


        </div>
        <div class="col"></div>
    </div>
</section>

<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/public/js/login.js}" defer></script>
</body>
</html>