<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, _, ~{::section}, ~{}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fight</title>
</head>
<body>
<section>
    <!--users infos, stats and images: -->

    <div id="users">

        <div class="player1">
        <div id="owner" th:text="${r.getOwnerName()} "></div>

        <div>
            <i id="owntype" th:value="${r.getOwnerGotchi().getType()}" class="fas"></i>

            <i id="owntype2" th:value="${r.getOwnerGotchi().getSecondaryAttack()}" class="fas"></i>
        </div>
        <div id="ownerGotchi" th:text="${r.getOwnerGotchi().getName()}"></div>
        <div id="ownerHP">HP: 100</div>
        </div>

        <div class="player2">
        <div id="opponent">waiting for opponent...</div>

        <div>
            <i id="opptype" class="fas"></i>

            <i id="opptype2" class="fas"></i>
        </div>
        <div id="opponentGotchi"> </div>
        <div id="opponentHP"></div>
        </div>
        <input id="roomId" th:value="${r.getId()}" style="display: none">
    </div>

    <!--Buttons: -->

    <div>
        <div class="buttons" th:if="${principal}">
        <table class="col-md-6">
            <tr>
                <td>
                    <form class="form-inline">
                        <button id="attack1" class="btn btn-default" type="submit"
                                th:text="${gotchi.type}+' ('+${attack}+')'"
                                value="PRIMARY_ATTACK">Attack1</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="attack2" class="btn btn-default" type="submit"
                                th:text="${gotchi.secondaryAttack}+' ('+${attack*0.9}+')' "
                                value="SECONDARY_ATTACK">Attack2</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="defend" class="btn btn-default" type="submit"
                                th:text="'DEFEND ('+${defence}+')'"
                                value="DEFEND">Defend</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="evade" class="btn btn-default" type="submit"
                                th:text="'EVADE ('+${speed}+')'"
                                value="EVADE">Evade</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                <form th:action="@{/quitgame/{roomId} (roomId= ${r.getId()} )}" method="post">
                    <button style="display: none" type="submit" id="quit" class="btn btn-default">Quit</button>
                </form>
                </td>
            </tr>
        </table>
        </div>
    </div>

    <!--logs: -->

    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Logs:</th><th id="wait"></th>
                </tr>
                </thead>
                <tbody id="logs">
                </tbody>
            </table>
        </div>
    </div>

</section>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/public/js/fight.js"></script>
</body>
</html>