<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, _, ~{::section}, ~{}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head class="text-center py-2">
    <meta charset="UTF-8">
    <title>Fight</title>
</head>
<body>
<section>
<p>OK</p>
    <p th:text=" 'Owner: ' + ${r.getOwnerName()}"></p>
    <p th:text=" 'Opponent: ' + ${r.getOpponentName()}"></p>
    <input id="roomId" th:value="${r.getId()}" style="display: none"></input>

    <div>
        <!--CONNECT AND DISCONNECT BUTTONS: -->
        <!--<div class="col-md-6">-->
            <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<label for="connect">WebSocket connection:</label>-->
                    <!--<button id="connect" class="btn btn-default" type="submit">Connect</button>-->
                    <!--<button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <div th:if="${principal}">
        <table class="col-md-6">
            <tr>
                <!--Attack should have names i.e. ICE ATTACK as text in html-->
                <td>
                    <form class="form-inline">
                        <button id="attack1" class="btn btn-default" type="submit"
                                value="attack1">Attack1</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="attack2" class="btn btn-default" type="submit"
                                value="attack2">Attack2</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="defend" class="btn btn-default" type="submit"
                                value="defend">Defend</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="evade" class="btn btn-default" type="submit"
                                value="evade">Evade</button>
                    </form>
                </td>
            </tr>
        </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Logs:</th>
                </tr>
                </thead>
                <tbody id="logs">
                </tbody>
            </table>
        </div>
    </div>

</section>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/public/js/fight.js"></script>
</body>
</html>