<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, _, ~{::section}, ~{}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fight</title>
</head>
<body>
<section>
    <div id="users">
        <p></p>
        <span id="owner" th:text="${r.getOwnerName()} "></span>
        <span>: </span>
        <span id="ownerGotchi" th:text="${r.getOwnerGotchi().getName()}"></span>
        <span>
            <i id="owntype" th:value="${r.getOwnerGotchi().getType()}" class="fas"></i>
            <i> / </i>
            <i id="owntype2" th:value="${r.getOwnerGotchi().getSecondaryAttack()}" class="fas"></i>
        </span>
        <span>HP: </span>
        <span id="ownerHP">100</span>
        </p>
        <p>
        <span id="opponent">waiting for opponent...</span>
        <span id="opponentGotchi"> </span>
        <span>
            <i id="opptype" class="fas"></i>
            <i> / </i>
            <i id="opptype2" class="fas"></i>
        </span>
        <span id="opponentHP"></span>
        </p>
        <input id="roomId" th:value="${r.getId()}" style="display: none">
    </div>


    <div>
        <div th:if="${principal}">
        <table class="col-md-6">
            <tr>
                <td>
                    <form class="form-inline">
                        <button id="attack1" class="btn btn-default" type="submit"
                                th:text="${gotchi.type}+' ('+${attack}+')'"
                                value="PRIMARY_ATTACK">Attack1</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="attack2" class="btn btn-default" type="submit"
                                th:text="${gotchi.secondaryAttack}+' ('+${attack*0.9}+')' "
                                value="SECONDARY_ATTACK">Attack2</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="defend" class="btn btn-default" type="submit"
                                th:text="'DEFEND ('+${defence}+')'"
                                value="DEFEND">Defend</button>
                    </form>
                </td>

                <td>
                    <form class="form-inline">
                        <button id="evade" class="btn btn-default" type="submit"
                                th:text="'EVADE ('+${speed}+')'"
                                value="EVADE">Evade</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                <form action="/lobby" method="get" data-sub="true">
                <button type="submit"  style="display: none" id="quit">Quit</button>
                </form>
                </td>
            </tr>
        </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Logs:</th>
                </tr>
                <tr id="wait">
                </tr>
                </thead>
                <tbody id="logs">
                </tbody>
            </table>
        </div>
    </div>

</section>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/public/js/fight.js"></script>
</body>
</html>