%hover-color-style {color: theme-color("light-5"); background-color: theme-color("dark-3");}
%active-color-style {color: theme-color("light-5"); background-color: transparent;}
%inactive-color-style {color: theme-color("light-3"); background-color: transparent;}