$input-focus: $active;
$input-error: $orange;
$input-inactive: $inactive;

input {
  border: none;
  background-color: transparent;
  outline: none;
  color: $l5;
}

.field-wrap {

  input {
    width: 100%;
    padding: 24px 12px 4px;

    &::placeholder {
      color: transparent;
      opacity: 0;
    }

    &:focus, &:not(:placeholder-shown) {
      ~ label {
        transform: translateY(-26px);
        font-size: 12px;
      }
    }
    &:focus ~ label {
      color: $input-focus;
    }

    &:focus ~ .input-bar::before,
    &:focus ~ .input-bar::after {
      width: 50%;
    }

    &.inp-invalid {
      & ~ .input-bar::before,
      & ~ .input-bar::after {
        background-color: $input-error;
      }

      & ~ label {
        color: $input-error;
      }
    }
  }

  label {
    position: absolute;
    bottom: 5px;
    left: 12px;
    margin-bottom: 0;
    transition: 0.2s ease;
    pointer-events: none;
    color: $input-inactive;
  }

  .input-field {
    position: relative;

    &:hover {
      background-color: $d2;
    }
  }

  .input-bar {
    position: relative;
    width: 100%;
    height: 1px;
    text-align: center;
    background-color: $input-inactive;

    &::before, &::after {
      position: absolute;
      width: 0;
      height: 2px;
      background-color: $input-focus;
      content: "";
      transition: 0.2s ease;
    }

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }
  }

  .helper {
    padding: 4px 12px 8px;
  }
}

.helper {
  font-size: 12px;

}

.error {
  color: $orange;
}

button {
  @extend %theme-b1;
  border: none;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.1s;
  outline: none;
  padding: 8px 16px;

  &:hover {
    @extend %theme-b2;
  }

  &:disabled {
    @extend %disabled;
    cursor: default;
  }

  &.btn-submit {
    float: right;
  }

  &.btn-flat {
    @extend %flat;
    padding: 8px;

    &:hover {
      @extend %flat-hover;
    }

    &:disabled {
      @extend %flat-disabled;
    }
  }

  &.btn-nopad {
    padding: 0;
  }

  &.btn-full {
    width: 100%;
  }

}