// Material styled inputs
input {
  border: none;
  outline: none;
  background-color: $input-bg;
  color: $input-color;
}

.field-wrap {

  input {
    width: 100%;
    padding: 24px 12px 4px;

    &::placeholder {
      color: transparent;
      opacity: 0;
    }

    &:focus, &:not(:placeholder-shown) {
      ~ label {
        transform: translateY(-26px);
        font-size: 12px;
      }
    }
    &:focus ~ label {
      color: $input-focus-color;
    }

    &:focus ~ .input-bar::before,
    &:focus ~ .input-bar::after {
      width: 50%;
    }

    &.inp-invalid {
      & ~ .input-bar::before,
      & ~ .input-bar::after {
        background-color: $input-error-color;
      }

      & ~ label {
        color: $input-error-color;
      }
    }
  }

  label {
    position: absolute;
    bottom: 5px;
    left: 12px;
    margin-bottom: 0;
    transition: 0.2s ease;
    pointer-events: none;
    color: $input-inactive-color;
  }

  .input-field {
    position: relative;

    &:hover {
      background-color: theme-color("dark-2");
    }
  }

  .input-bar {
    position: relative;
    width: 100%;
    height: 1px;
    text-align: center;
    background-color: $input-inactive-color;

    &::before, &::after {
      position: absolute;
      width: 0;
      height: 2px;
      background-color: $input-focus-color;
      content: "";
      transition: 0.2s ease;
    }

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }
  }

  .helper {
    padding: 4px 12px 8px;
  }
}

.helper {
  font-size: 12px;

}

.error {
  color: $input-error-color;
}