// Spinner
.spinner {
  margin: 50px auto;
  border: 8px solid theme-color("bg-2");
  border-top: 8px solid color("green");
  border-bottom: 8px solid color("dark-green");
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
  -webkit-animation: spin 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

// SnackBar
$snack-bottom: 50px;
$snack-timeout: 2.5s;

.snackBar {
  display: none;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: theme-color("dark-5");
  color: theme-color("light-5");
  text-align: center;
  border-radius: 2px;
  padding: 12px 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: $snack-bottom;

  &.show {
    visibility: visible;

    /* Add animation: Take 0.5 seconds to fade in and out the snackBar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s $snack-timeout;
    animation: fadein 0.5s, fadeout 0.5s $snack-timeout;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: $snack-bottom;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: $snack-bottom;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: $snack-bottom;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: $snack-bottom;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

// Utils
.hidden {
  display: none;
}

// Modal
.modal-body {
  padding: $modal-inner-padding 2rem;
}